/Week1MDF/Week1MDF.xcodeproj/project.xcworkspace/xcuserdata/cameronmozie.xcuserdatad/UserInterfaceState.xcuserstate
/week2MDF1/week2MDF1.xcodeproj/project.xcworkspace/xcuserdata/cameronmozie.xcuserdatad/UserInterfaceState.xcuserstate
/MDF1Week2/MDF1Week2.xcodeproj/project.xcworkspace/xcuserdata/cameronmozie.xcuserdatad/UserInterfaceState.xcuserstate
/week3MDF1/week3MDF1.xcodeproj/project.xcworkspace/xcuserdata/cameronmozie.xcuserdatad/UserInterfaceState.xcuserstate
/Week4App/Week4App.xcodeproj/project.xcworkspace/xcuserdata/cameronmozie.xcuserdatad/UserInterfaceState.xcuserstate